/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 5, 2015, 11:28:45 PM
    Author     : Nicolas
*/
#monitor-log p{
    background: black;
    padding: 12px;
    color: red;
    font-size: 10px;
}
.monitor-container div.registry{
    display: block;
    width: 100%;
    list-style: none;
    padding: 0;
    height: 155px;
    overflow: auto;
}
ul.registry-item{
    width: 100%;
    padding: 0;
}
ul.registry-item li{
    float: left;
    width: 33.3%;
    list-style: none;
    background-color: whitesmoke;
    padding: 5px;
    border: 1px solid #DDDDDD;
    border-bottom: none;
}
ul.registry-item.new li{
    background-color: black;
    color:white;

}
ul.registry-item.j-alert li{
    color: #fff;
    background-color: #d9534f;

}
.btn-success.off{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}